<!DOCTYPE html>
<html>
<head>
    <title>Abbey Road</title>
</head>
<header>
    <nav>
        {% include 'home.html' %}
    </nav>
</header>
<body>
    <h1><b>Abbey Road (1969)</b> - by <i>The Beatles</i></h1>
    <p><i>Abbey Road is the eleventh studio album by the English rock band the Beatles, released on 26 September 1969 by Apple Records. Named after the location of EMI Studios in London, the cover features the group walking across the street's zebra crossing, an image that became one of the most famous and imitated in popular music. The album's initially mixed reviews were contrasted by its immediate commercial success, topping record charts in the UK and US. The single "Something" / "Come Together" was released in October and topped the US charts.</i></p>
    <img src="http://is5.mzstatic.com/image/thumb/Music115/v4/fd/8e/16/fd8e16ad-73db-f9b2-53e7-73643d7d6c13/source/500x500-999.jpg" alt="Abbey Road" title="Abbey Road">
    <p><b>LINKS:</b></p>
    <a href="https://open.spotify.com/album/5iT3F2EhjVQVrO4PKhsP8c?si=df837cd54c0b4846" target="_BLANK"><br>
        <img src="https://cdn.icon-icons.com/icons2/836/PNG/512/Spotify_icon-icons.com_66783.png" width="15" >Spotify
    </a>
    <a href="https://en.wikipedia.org/wiki/Abbey_Road" target="_BLANK"><br>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/07/Wikipedia_logo_%28svg%29.svg/1250px-Wikipedia_logo_%28svg%29.svg.png" width="15" >Wikipedia
    </a>
    {% include 'footer.html' %}
</body>
</html>