<!DOCTYPE html>
<html>
<head>
    <title>Band on the Run</title>
</head>
<header>
    <nav>
        {% include 'home.html '%}
    </nav>
</header>
<body>
    <h1><b>Band on the Run (1973)</b> - by <i>Wings</i></h1>
    <p><i>Band on the Run is the third studio album by the British–American rock band Paul McCartney and Wings, released in December 1973. It was McCartney's fifth album after leaving the Beatles in April 1970. Although sales were modest initially, its commercial performance was aided by two hit singles – "Jet" and "Band on the Run" – such that it became the top-selling studio album of 1974 in the United Kingdom and Australia, in addition to revitalising McCartney's critical standing. It remains McCartney's most successful album and the most celebrated of his post-Beatles works.</i></p>
    <img src="http://is5.mzstatic.com/image/thumb/Music114/v4/46/ce/36/46ce3618-e843-b49b-5749-b50d79cef39a/source/500x500-999.jpg" alt="Band on the Run" title="Band on the Run">
    <p><b>LINKS:</b></p>
    <a href="https://open.spotify.com/album/257oomaawruFknt5wYCPDh?si=ebHcKEuSS_qpYqYC07S_lw" target="_BLANKED"><br>
        <img src="https://cdn.icon-icons.com/icons2/836/PNG/512/Spotify_icon-icons.com_66783.png" width="15" > Spotify
    </a>
    <a href="https://en.wikipedia.org/wiki/Band_on_the_Run" target="_BLANKED"><br>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/07/Wikipedia_logo_%28svg%29.svg/1250px-Wikipedia_logo_%28svg%29.svg.png" width="15" >Wikipedia
    </a>
    {% include 'footer.html' %}
</body>
</html>