<!DOCTYPE html>
<html>
<head>
    <title>The Dark Side of the Moon</title>
</head>
<header>
    <nav>
        {% include 'home.html '%}
    </nav>
</header>
<body>
    <h1><b>The Dark Side of the Moon (1972)</b> - by <i>Pink Floyd</i></h1>
    <p><i>The Dark Side of the Moon is the eighth studio album by the English rock band Pink Floyd, released on 1 March 1973 by Harvest Records. Primarily developed during live performances, the band premiered an early version of the suite several months before recording began. The record was conceived as an album that focused on the pressures faced by the band during their arduous lifestyle, and dealing with the apparent mental health problems suffered by former band member Syd Barrett, who departed the group in 1968. New material was recorded in two sessions in 1972 and 1973 at Abbey Road Studios in London.</i></p>
    <img src="http://is5.mzstatic.com/image/thumb/Music125/v4/c6/36/e2/c636e275-67a8-7679-165a-728f2d6d7da2/source/500x500-999.jpg" alt="The Dark Side of the Moon" title="The Dark Side of the Moon">
    <p><b>LINKS:</b></p>
    <a href="https://open.spotify.com/album/4LH4d3cOWNNsVw41Gqt2kv?si=74V9OcaYQVu2Srld5N6AKg" target="_BLANKED"><br>
        <img src="https://cdn.icon-icons.com/icons2/836/PNG/512/Spotify_icon-icons.com_66783.png" width="15" >Spotify
    </a>
    <a href="https://en.wikipedia.org/wiki/The_Dark_Side_of_the_Moon" target="_BLANKED"><br>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/07/Wikipedia_logo_%28svg%29.svg/1250px-Wikipedia_logo_%28svg%29.svg.png" width="15" >Wikipedia
    </a>
    {% include 'footer.html' %}
</body>
</html>