<!DOCTYPE html>
<html>
<head>
    <title>Into the Gap</title>
</head>
<body>
    <header>
        <nav>
            {%include 'home.html' %}
        </nav>
    </header>
    <h1><b>Into the Gap (1983)</b> - by <i>Thompson Twins</i></h1>
    <article>
        <section>
            <p><i>Into the Gap is the fourth studio album by British pop group Thompson Twins, released on 17 February 1984 by Arista Records.[3] The album was recorded during 1983 at Compass Point Studios, in Nassau, Bahamas, and was produced by Alex Sadkin who had produced the band's previous album.</i></p>
            <h5>Producer: <b>Alex Sadkin, Tom Bailey</b></h5>
            <ul>
                <b><i>Songlist:</i></b>
                <table>
                    <tr>
                        <td><b>Name</b></td>
                        <td><b>Length</b></td>
                    </tr>
                    <tr>
                        <td>Doctor! Doctor!</td>
                        <td>4:39</td>
                    </tr>
                    <tr>
                        <td>You Take Me Up</td>
                        <td>4:26</td>
                    </tr>
                    <tr>
                        <td>Day After Day</td>
                        <td>3:49</td>
                    </tr>
                    <tr>
                        <td>Sister of Mercy/td>
                        <td>5:09</td>
                    </tr>
                    <tr>
                        <td>No Peace for the Wicked</td>
                        <td>4:09</td>
                    </tr>
                    <tr>
                        <td>The Gap</td>
                        <td>4:44</td>
                    </tr>
                    <tr>
                        <td>Hold Me Now</td>
                        <td>4:46</td>
                    </tr>
                    <tr>
                        <td>Storm of the Sea</td>
                        <td>5:26</td>
                    </tr>
                    <tr>
                        <td>Who Can Stop the Rain</td>
                        <td>5:46</td>
                    </tr>
                    <tr>
                        <td><b>Total length</b></td>
                        <td><b>42:33</b></td>
                    </tr>
                </table>
            </ul>
        </section>
    </article>
    <img src="http://is5.mzstatic.com/image/thumb/Music/v4/4d/26/67/4d26674d-91a6-6c6b-1646-2bcd7fba7aa8/source/500x500-999.jpg" alt="Into the Gap" title="Into the Gap">
    <p><b>LINKS:</b></p>
    <a href="https://open.spotify.com/album/0EKvjXCkgxeH6YjfN7ScYR?si=8c392dd8ee5d4921" target="_BLANK"><br>
        <img src="https://cdn.icon-icons.com/icons2/836/PNG/512/Spotify_icon-icons.com_66783.png" width="15" >Spotify
    </a>
    <a href="https://en.wikipedia.org/wiki/Into_the_Gap" target="_BLANK"><br>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/07/Wikipedia_logo_%28svg%29.svg/1250px-Wikipedia_logo_%28svg%29.svg.png" width="15" >Wikipedia
    </a>
    {% include 'footer.html' %}
</body>
</html>