<!DOCTYPE html>
<html>
<head>
    <title>Lonerism</title>
</head>
<body>
    <header>
        <nav>
            {% include 'home.html' %}
        </nav>
    </header>
    <h1><b>LONERISM (2012)</b> - By <i>Tame Impala</i></h1>
    <article>
        <section>
            <p><i>Lonerism is the second studio album by Australian musical project Tame Impala, released on 5 October 2012 by Modular Recordings. Like the band's debut studio album, Innerspeaker (2010), Lonerism was written, recorded, performed, and produced by Kevin Parker, with live member Jay Watson contributing on two tracks. Recorded mostly in Perth, Australia, and Paris, France, Lonerism builds on the psychedelic sound of its predecessor and features fewer guitars and more synthesisers and samples. Parker attempted to incorporate his love for pop music into his songwriting for the record through catchier melodies. Many tracks feature ambient sounds recorded by Parker with a dictaphone. The album's theme of isolation is reflected in the album cover, featuring an image of a fenced-off Jardin du Luxembourg in Paris.</i></p>
            <h5>Producer: <b>Kevin Parker</b></h5>
            <ul>
                <p><i><b>Songlist:</b></i></p>
                <table>
                    <tr>
                        <td><b>Name</b></td>
                        <td><b>Length</b></td>
                    </tr>
                    <tr>
                        <td>Be Above It</td>
                        <td>3:21</td>
                    </tr>
                    <tr>
                        <td>Enders Toi</td>
                        <td>3:06</td>
                    </tr>
                    <tr>
                        <td>Apocalypse Dreams</td>
                        <td>5:56</td>
                    </tr>
                    <tr>
                        <td>Mind Mischief</td>
                        <td>4:31</td>
                    </tr>
                    <tr>
                        <td>Music to Walk Home By</td>
                        <td>5:12</td>
                    </tr>
                    <tr>
                        <td>Why Won't They Talk to Me?</td>
                        <td>4:46</td>
                    </tr>
                    <tr>
                        <td>Feels Like We Only Go Backwards</td>
                        <td>3:12</td>
                    </tr>
                    <tr>
                        <td>Keep on Lying</td>
                        <td>5:54</td>
                    </tr>
                    <tr>
                        <td>Elephant</td>
                        <td>3:31</td>
                    </tr>
                    <tr>
                        <td>She Just Won't Believe Me</td>
                        <td>0:57</td>
                    </tr>
                    <tr>
                        <td>Nothing That Has Happened So Far Has Been Anything We Could Control</td>
                        <td>6:01</td>
                    </tr>
                    <tr>
                        <td>Sun's Coming Up</td>
                        <td>5:20</td>
                    </tr>
                    <tr>
                        <td><b>Total length</b></td>
                        <td><b>51:53</b></td>
                    </tr>
                </table>
            </ul>
        </section>
    </article>
    <img src="http://is5.mzstatic.com/image/thumb/Music124/v4/19/12/7a/19127a4d-1abc-a1f5-a75d-f7e3ca103d3f/source/500x500-999.jpg" alt="Lonerism" title="Lonerism">
    <p><b>LINKS:</b></p>
    <a href="https://open.spotify.com/album/3C2MFZ2iHotUQOSBzdSvM7" target="_BLANK"><br>
        <img src="https://cdn.icon-icons.com/icons2/836/PNG/512/Spotify_icon-icons.com_66783.png" width="15" > Spotify 
    </a>
    <a href="https://en.wikipedia.org/wiki/Lonerism" target="_BLANK"><br>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/07/Wikipedia_logo_%28svg%29.svg/1250px-Wikipedia_logo_%28svg%29.svg.png" width="15" >Wikipedia
    </a>
    {% include 'footer.html' %}
</body>
</html>