<!DOCTYPE html>
<html>
<head>
    <title>McCartney II</title>
</head>
<body>
    <header>
        <nav>
            {%include 'home.html' %}
        </nav>
    </header>
    <h1><b>McCartney II (1980)</b> - by <i>Paul McCartney</i></h1>
    <article>
        <section>
            <p><i>McCartney II is the second solo album by English musician Paul McCartney, released on 16 May 1980. It was recorded by McCartney at his home studio in the summer of 1979, shortly before the dissolution of his band Wings in 1981. Like his first solo album, McCartney (1970), he performed all the instruments himself while his wife Linda contributed additional vocals. It yielded three singles: "Coming Up", "Waterfalls", and "Temporary Secretary".</i></p>
            <h5>Producer: <b>Paul McCartney</b></h5>
            <ul>
                <b><i>Songlist:</i></b>
                <table>
                    <tr>
                        <td><b>Name</b></td>
                        <td><b>Length</b></td>
                    </tr>
                    <tr>
                        <td>Coming Up</td>
                        <td>3:53</td>
                    </tr>
                    <tr>
                        <td>Temporary Secretary</td>
                        <td>3:14</td>
                    </tr>
                    <tr>
                        <td>On the Way</td>
                        <td>3:38</td>
                    </tr>
                    <tr>
                        <td>Waterfalls</td>
                        <td>4:43</td>
                    </tr>
                    <tr>
                        <td>Nobody Knows</td>
                        <td>2:52</td>
                    </tr>
                    <tr>
                        <td>Front Parlour</td>
                        <td>3:32</td>
                    </tr>
                    <tr>
                        <td>Summer's Day Song</td>
                        <td>3:25</td>
                    </tr>
                    <tr>
                        <td>Frozen Jap</td>
                        <td>3:40</td>
                    </tr>
                    <tr>
                        <td>Bogey Music</td>
                        <td>3:27</td>
                    </tr>
                    <tr>
                        <td>Darkroom</td>
                        <td>2:20</td>
                    </tr>
                    <tr>
                        <td>One of These Days</td>
                        <td>3:35</td>
                    </tr>
                    <tr>
                        <td><b>Total length</b></td>
                        <td><b>38:36</b></td>
                    </tr>
                </table>
            </ul>
        </section>
    </article>
    <img src="http://is5.mzstatic.com/image/thumb/Music116/v4/04/ab/20/04ab20c4-e506-e08f-184f-5f955950fca7/source/500x500-999.jpg" alt="McCartneyII" title="McCartneyII">
    <p><b>LINKS:</b></p>
    <a href="https://open.spotify.com/album/7eEYDv4xof4uQei8Y6SCzs?si=5c98d89a619d452e" target="_BLANK"><br>
        <img src="https://cdn.icon-icons.com/icons2/836/PNG/512/Spotify_icon-icons.com_66783.png" width="15" >Spotify
    </a>
    <a href="https://en.wikipedia.org/wiki/McCartney_II" target="_BLANK"><br>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/07/Wikipedia_logo_%28svg%29.svg/1250px-Wikipedia_logo_%28svg%29.svg.png" width="15" >Wikipedia
    </a>
    {% include 'footer.html' %}
</body>
</html>