<!DOCTYPE html>
<html>
<head>
    <title>Melody's Echo Chamber</title>
</head>
<body>
    <header>
        <nav>
            {%include 'home.html' %}
        </nav>
    </header>
    <h1><b>Melody's Echo Chamber (2013)</b> - by <i>Melody's Echo Chamber</i></h1>
    <article>
        <section>
            <p><i>Melody's Echo Chamber is the eponymous debut studio album by French musician Melody Prochet, under her project name Melody's Echo Chamber. It was released on 25 September 2012 on Weird World Record Co and Fat Possum Records. It received generally favorable reviews from critics who praised Prochet's efforts for her debut and also Kevin Parker's role in production. She supported the album's release with a tour that followed in North America, France and the United Kingdom and all of Europe.</i></p>
            <h5>Producer: <b>Kevin Parker</b></h5>
            <ul>
                <b><i>Songlist:</i></b>
                <table>
                    <tr>
                        <td><b>Name</b></td>
                        <td><b>Length</b></td>
                    </tr>
                    <tr>
                        <td>I Follow You</td>
                        <td>3:36</td>
                    </tr>
                    <tr>
                        <td>Crystallized</td>
                        <td>4:01</td>
                    </tr>
                    <tr>
                        <td>You Won't Be Missing That Part of Me</td>
                        <td>4:16</td>
                    </tr>
                    <tr>
                        <td>Some Time Alone, Alone</td>
                        <td>3:46</td>
                    </tr>
                    <tr>
                        <td>Bisou magique</td>
                        <td>4:09</td>
                    </tr>
                    <tr>
                        <td>Endless Shore</td>
                        <td>4:56</td>
                    </tr>
                    <tr>
                        <td>Quand vas tu rentrer?</td>
                        <td>4:21</td>
                    </tr>
                    <tr>
                        <td>Mount Hopeless</td>
                        <td>4:32</td>
                    </tr>
                    <tr>
                        <td>IsThatWhatYouSaid</td>
                        <td>2:30</td>
                    </tr>
                    <tr>
                        <td>Snowcapped Andes Crash</td>
                        <td>5:15</td>
                    </tr>
                    <tr>
                        <td>Be Proud of Your Kids</td>
                        <td>3:11</td>
                    </tr>
                    <tr>
                        <td><b>Total length</b></td>
                        <td><b>44:33</b></td>
                    </tr>
                </table>
            </ul>
        </section>
    </article>
    <img src="http://is5.mzstatic.com/image/thumb/Music124/v4/63/40/97/6340975d-0fe5-b7cb-91af-6ea8d5d85312/source/500x500-999.jpg" alt="Melody's Echo Chamber" title="Melody's Echo Chamber">
    <p><b>LINKS:</b></p>
    <a href="https://open.spotify.com/album/2FKVlcqyS9nzKEHrOzbuwb?si=175fb6becdb549c2" target="_BLANK"><br>
        <img src="https://cdn.icon-icons.com/icons2/836/PNG/512/Spotify_icon-icons.com_66783.png" width="15" >Spotify
    </a>
    <a href="https://en.wikipedia.org/wiki/Melody%27s_Echo_Chamber_(album)" target="_BLANK"><br>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/07/Wikipedia_logo_%28svg%29.svg/1250px-Wikipedia_logo_%28svg%29.svg.png" width="15" > Wikipedia
    </a>
    {% include 'footer.html' %}
</body>
</html>