<!DOCTYPE html>
<html>
<head>
    <title>Sgt. Pepper's Lonely Hearts Club Band</title>
</head>
<header>
    <nav>
        {% include 'home.html' %}
    </nav>
</header>
<body>
    <h1><b>Sgt. Pepper's Lonely Hearts Club Band (1967)</b> - by <i>The Beatles</i></h1>
    <p><i>Sgt. Pepper's Lonely Hearts Club Band is the eighth studio album by the English rock band the Beatles. Released on 26 May 1967,[nb 1] it spent 27 weeks at number one on the Record Retailer chart in the United Kingdom and 15 weeks at number one on the Billboard Top LPs chart in the United States. It was lauded by critics for its innovations in songwriting, production and graphic design, for bridging a cultural divide between popular music and high art, and for reflecting the interests of contemporary youth and the counterculture. Its release was a defining moment in 1960s pop culture, heralding the Summer of Love, while the album's reception achieved full cultural legitimisation for pop music and recognition for the medium as a genuine art form.</i></p>
    <img src="http://is5.mzstatic.com/image/thumb/Music116/v4/2b/24/0f/2b240f50-83cd-6fc5-4279-26d35866b165/source/500x500-999.jpg" alt="Sgt. Pepper's Lonely Heart Club Band" title="Sgt. Pepper's Lonely Heart Club Band">
    <p><b>LINKS:</b></p>
    <a href="https://open.spotify.com/album/1ntNLgaYCFCkeW4flGYlY2?si=ad6cbee4f282454f" target="_BLANK"><br>
        <img src="https://cdn.icon-icons.com/icons2/836/PNG/512/Spotify_icon-icons.com_66783.png" width="15" >Spotify
    </a>
    <a href="https://en.wikipedia.org/wiki/Sgt._Pepper%27s_Lonely_Hearts_Club_Band" target="_BLANK"><br>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/07/Wikipedia_logo_%28svg%29.svg/1250px-Wikipedia_logo_%28svg%29.svg.png" width="15" >Wikipedia
    </a>
    {% include 'footer.html' %}
</html>