<!DOCTYPE html>
<html>
<head>
    <title>The Wall</title>
</head>
<body>
    <header>
        <nav>
            {%include 'home.html' %}
        </nav>
    </header>
    <h1><b>The Wall (1979)</b> - By <i>Pink Floyd</i></h1>
    <article>
        <section>
            <h5>Producer: <b>Bob Ezrin, David Gilmour, James Guthrie, Roger Waters</b></h5>
            <p><i>The Wall is the eleventh studio album by the English rock band Pink Floyd, released on 30 November 1979 by Harvest and Columbia Records. It is a rock opera that explores Pink, a jaded rock star whose eventual self-imposed isolation from society forms a figurative wall. The album was a commercial success, topping the US charts for 15 weeks and reaching number three in the UK. It initially received mixed reviews from critics, many of whom found it overblown and pretentious, but later received accolades as one of the greatest albums of all time and one of the band's finest works.</i></p>
            <ul>
                <b><i>Songlist:</i></b>
                <table>
                    <tr>
                        <td><b>Name</b></td>
                        <td><b>Length</b></td>
                    </tr>
                    <tr>
                        <td>In the Flesh?</td>
                        <td>3:16</td>
                    </tr>
                    <tr>
                        <td>The Thin Ice</td>
                        <td>2:27</td>
                    </tr>
                    <tr>
                        <td>Another Brick in the Wall, Part 1</td>
                        <td>3:11</td>
                    </tr>
                    <tr>
                        <td>The Happiest Days of Our Lives</td>
                        <td>1:46</td>
                    </tr>
                    <tr>
                        <td>Another Brick in the Wall, Part 2</td>
                        <td>3:59</td>
                    </tr>
                    <tr>
                        <td>Mother</td>
                        <td>5:32</td>
                    </tr>
                    <tr>
                        <td>Goodbye Blue Sky</td>
                        <td>2:45</td>
                    </tr>
                    <tr>
                        <td>Empty Spaces</td>
                        <td>2:10</td>
                    </tr>
                    <tr>
                        <td>Young Lust</td>
                        <td>3:25</td>
                    </tr>
                    <tr>
                        <td>One of My Turns</td>
                        <td>3:41</td>
                    </tr>
                    <tr>
                        <td>Don't Leave Me Now</td>
                        <td>4:08</td>
                    </tr>
                    <tr>
                        <td>Another Brick in the Wall, Part 3</td>
                        <td>1:18</td>
                    </tr>
                    <tr>
                        <td>Goodbye Cruel World</td>
                        <td>1:16</td>
                    </tr>
                    <tr>
                        <td><b>Total length</b></td>
                        <td><b>44:33</b></td>
                    </tr>
                </table>
            </ul>
        </section>
    </article>
    <img src="http://is5.mzstatic.com/image/thumb/Music125/v4/89/d9/02/89d90299-4e04-f5e4-0eab-b09d0352fa31/source/500x500-999.jpg" alt="The Wall" title="The Wall">
    <p><b>LINKS:</b></p>
    <a href="https://open.spotify.com/album/5Dbax7G8SWrP9xyzkOvy2F?si=f47672738c754476" target="_BLANK"><br>
        <img src="https://cdn.icon-icons.com/icons2/836/PNG/512/Spotify_icon-icons.com_66783.png" width="15" > Spotify 
    </a>
    <a href="https://en.wikipedia.org/wiki/The_Wall" target="_BLANK"><br>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/07/Wikipedia_logo_%28svg%29.svg/1250px-Wikipedia_logo_%28svg%29.svg.png" width="15" >Wikipedia
    </a>
    {% include 'footer.html '%}
</body>
</html>